VPN_SERVER=203.0.113.1
VPN_CONN=myvpn
VPN_LAC=myvpn
VPN_PSK=your-pre-shared-key
VPN_USER=your-username
VPN_PASS=your-password
VPN_LEFT_ID=10.0.0.1
VPN_RIGHT_ID=10.0.0.1
VPN_IKE=aes256-sha1-modp1024!
VPN_ESP=aes256-sha1,aes128-sha1,3des-sha1!
VPN_ROUTES="10.0.0.0/24 1.2.3.4/32"
